/* Site footer */

#colophon {

    font-size: 0.8em;
    background: #A3A660;
    color: #ffffff;
    
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    li a {
        color: #ffffff;
    }
    
    h3 {
        color: #ffffff;
    }

    
    .wp-block-columns {
        margin: calc(2 * #{$size__spacing-unit}) $size__spacing-unit;
    }
    
    .site-info {
        text-align: center;
        padding-bottom: $size__spacing-unit;
        color: #ffffff;
    }
    
    @media only screen and ( min-width: 782px ) {
        .wp-block-columns {
            max-width: 80%;
            margin: 0 15%;
            padding: 2rem 60px;
        }
    }
}