/*
Theme Name:   Wichtel Challenge Theme
Theme URI:    [http://example.com/parent-theme/]
Description:  Wichtel Challenge Theme based on twentynineteen
Author:       Christian Heiling
Author URI:   [http://deinedomain.at]
Template:     twentynineteen
Version:      1.0.0
Text Domain:  app
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
        ## Headings
        ## Copy
# Elements
        ## Lists
        ## Tables
# Forms
        ## Buttons
        ## Fields
# Navigation
        ## Links
        ## Menus
        ## Next & Previous
# Accessibility
# Alignments
# Clearings
# Layout
# Widgets
# Content
        ## Archives
        ## Posts and pages
        ## Comments
# Blocks
# Media
        ## Captions
        ## Galleries
--------------------------------------------------------------*/
@import "sass/variables-site/variables-site";
@import "sass/mixins/mixins-master";


/* Normalize */

@import "sass/normalize";

/* Typography */

@import "sass/typography/typography";

/* Elements */

@import "sass/elements/elements";

/* Forms */

@import "sass/forms/forms";

/* Navigation */

@import "sass/navigation/navigation";

/* Accessibility */

@import "sass/modules/accessibility";

/* Alignments */

@import "sass/modules/alignments";

/* Clearings */

@import "sass/modules/clearings";

/* Layout */

@import "sass/layout/layout";

/* Content */

@import "sass/site/site";

/* Widgets */

@import "sass/site/secondary/widgets";

/* Blocks */

@import "sass/blocks/blocks";

/* Media */

@import "sass/media/media";

/* reduce feature image */

.home .site-header.featured-image { 
    min-height: 50vh;
    opacity: 1;
}

.post-type-archive-wish .site-header.featured-image,
.single-wish .site-header.featured-image,
.tax-wish-region .site-header.featured-image{
    min-height: 0;
    opacity: 1;
}

.site-header.featured-image { 
    min-height: 50vh;
    opacity: 1;
}




/* event countdown */
.event-countdown-container {
    background-size: 100% 100%;
    background-image: url(images/rainbow-background.jpg);
    background-repeat: repeat-y;
    padding: 0.5em;
    font-size: $font__size-xs;

    @media(tablet) {
        font-size: $font__size-sm;
    }
}

.event-countdown {
    text-align: center;
    color: #fff;
}

.event-countdown-heading {
    font-weight: bold;
    padding-right: 1.2em;
    display: inline-block;
}

.event-countdown-content {
    padding-right: 1.2em;
    display: block;

    @include media(tablet) {
        display: inline-block;
    }
}

.event-countdown > a {
    padding-right: 2em;
    color: #fff;
    font-size: 0.8em;
    display: inline-block;
}

/* center content */
.entry .entry-content > *, 
.entry .entry-summary > * {
    max-width: none;
}

.post-type-archive h2 {
    text-align: center;
}

/* display map */
#mapid {
    width: 100%;
    height: 400px;
}

/* display home */
.home-title {
    text-align: center;
    color: #fff;
}

.home-teaser {
    text-align: center;
    color: #fff;
}

.home-video {
    margin: 0 auto;
    display: none;

    @include media(tablet) {
        display: block;
    }

    @include media(desktop) {
        display: block;
    }
}

.home-cta {
    text-align: center;
    margin-top: 1em;

    a {
        background-color: rgb(132, 24, 40);
    }
}

.site-header.featured-image .site-featured-image .wp-block-button a {
    color: white;
}

#main .entry-header h1.entry-title {
    display: none;
}

.wish-letter-mini {
    padding: 2rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    background-color: #FFEFD5;

    .key {
        font-size: $font__size-xs;
        float: right;
    }

    .status {
        font-size: $font__size-xs;
        float: left;
    }

    .status-icon {
        padding-top: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        padding-top: 0.5rem;
        padding-bottom: 0;
        margin: 0;
        font-size: $font__size-lg;
        text-align: center;
    }

    .institution-info {
        font-size: $font__size-xs;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .description {
        text-align: center;
    }
}

.entry .entry-content > .wish-letter {
    background-color: #FFEFD5;
    padding: 2rem;
    text-align: center;
}

.featherlight .featherlight-content {
    border: 3px solid $color__background-button !important;
    max-width: 800px;

    p {
        text-align: center;
        font-size: $font__size-md;
    }

    .wp-block-button {
        text-align: center;
    }

    .wish-buttons {
        margin: 0 auto;
        text-align: center;
    }

    .wish-button-primary,
    .wish-button-secondary {
        display: inline-block;
        padding-left: 1rem;
    }

    .wish-button-primary .wp-block-button__link {
        background-color: $color__background-button;
        border-radius: 5px !important;
        font-size: $font__size-sm;
    }

    .wish-button-primary .wp-block-button__link:hover {
        background-color: $color__background-button-hover;
    }

    .wish-button-secondary .wp-block-button__link {
        border-radius: 5px !important;
        font-size: $font__size-sm;
        background-color: #676f78;
    }

    .wish-button-secondary .wp-block-button__link:hover {
        background-color: #676f78;
    }

    .wp-block-button {
        text-align: center;
    }

    .wp-block-button__link {
        margin-left: auto;
        margin-right: auto;
    }
}

.wish-buttons {
    .wp-block-button {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .wish-detail-link {
        font-size: $font__size-sm;
        text-align: center;
        display: block;
    }
}

.field-visibility-settings-header {
    display: none;
}

ul.wish-region-menu {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    li {
        display: inline-block;
        margin-right: 16px;
        margin-bottom: 16px;
        background-color: $color__background-button;
        font-weight: bold;
        border-radius: 5px;
        padding: 0;

        a {
            font-size: $font__size-sm;
            color: #fff;
            padding: 16px;
        }

        a:hover {
            color: #fff;
        }

        a:visited {
            color: #fff;
        }
    }

    li.is-active {
        background-color: $color__background-button-hover;
    }

    li:hover {
        background-color: $color__background-button-hover;
    }

    li:last-child {
        margin-right: 0;
    }
}

.wp-block-columns {
    margin-top: 32px;
}

.blur {
    color: transparent !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5) !important;
    font-weight: normal !important;
}

.nav-links {
    .current {
        font-weight: bold;
    }
}

/* format social organization logo */

.social-organisation-logo {

    width: 100%;
    height: 250px;
        
    img {
        object-fit: contain;
        width: 100%;
        height: inherit;
        object-position: 50% 50%;
        
    }
}